@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(231, 231, 231);
}

.bg-marine-blue-dark {
  background-color: #244051;
}

footer {
  background-color: #7FA2AE;
}

footer h2 {
  color: white;
}


.btn {
  background-color: #696766;
}

h1 {
  font-weight: 600;
}
main {
  margin-right: 10%;
  margin-left: 10%;
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.Parking thead {
  background-color: #F3F2EE;
}

.ParkingCard {
  background-color: #F3F2EE;

}




@media (max-width: 1021px) {
  main {
    margin: 0;
  }

  section{
    padding: 0;
    margin: 0;
  }

  .calenderGrid {
    gap: 5px;
  }

}

@media (max-width: 768px) {
  .calenderGrid {
    gap: 3px;
  }

  .lg\:col-span-1 {
    padding: 0;
  }

  .rg\:col-span-1 {
    padding: 0;
  }
}

